#bag{
    width: 500px;
    height:500px;
   /* border: 2px solid red;*/
    margin:0 auto;
    background: url(/pbag.jpg) center center no-repeat;
    background-size: 80%;
}
#bag.burst{
    background: url(/pburst.jpg) center center no-repeat;
    background-size: 100%;
}
#baghealth{
    width: 200px;
    border: 2px solid black;
    margin: 10px auto 20px auto;
}
#baghealth div{
    height: 20px;
    background:crimson;
}

#controls{
    width: 120px;
    margin:0 auto;
}
